<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head">
</head>
<body>
<h1 th:text="${title}">Default title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

<table>
    <th>Cheese Name</th>
    <th>Description</th>
    <tr th:each="cheese : ${cheeses}">
        <td th:text="${cheese.key}">Key</td>
        <td th:text="${cheese.value}">Value </td>
    </tr>
</table>

</body>
</html>