<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head">

</head>
<body>

<h1 th:text="${title}">Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="cheese : ${cheeses.values()}" >
            <input type="checkbox" name="cheeseIds" th:value="${cheese.id}" th:id="${cheese.id}" th:text="${cheese.name}"/>
        <label th:for="${cheese.id}" th:text="${cheese.description}"></label>
        <br/>

    </div>
    <input type="submit"/>

</form>

</body>
</html>